.title-div {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-logo {
  width: 45px;
}

.skin-red .main-header .logo, .skin-red .main-header .logo:hover, .skin-red .main-header .navbar {
  background-color: #000;
}

.last-x-days-title {
  font-size: 18px;
}

.disclaimer {
  white-space: normal; 
  padding: 10px; 
  font-size: 0.9em;
}

.how-to-download {
  white-space: normal; 
  padding: 0 10px 10px 10px; 
  font-size: 0.9em;
}

.info-box-number {
  font-size: 36px;
}